{% load static i18n serveContent %}
{% get_current_language as lang %}
<div class="balken anthrazit">
  <div class="container">
    <ul class="icon-list">
        <li>
            <a href="https://www.facebook.com/nmc.unibasel/">
                <i class="fa-brands fa-facebook"></i>
            </a>
        </li>
        <li>
            <a href="https://vimeo.com/newmediacenterunibasel">
                <i class="fa-brands fa-vimeo-v"></i>
            </a>
        </li>
        <li>
            <a href="https://www.youtube.com/channel/UCOcvdrx4oTMi-AIh2gDzbyw">
                <i class="fa-brands fa-youtube"></i>
            </a>
        </li>
        <li>
            <a href="https://twitter.com/nmc_unibasel">
                <i class="fa-brands fa-twitter"></i>
            </a>
        </li>
    </ul>
    <div class="user-menu">
        {% if user.is_staff %}
        <a href="/user">Users</a>
        <span class="spacer">|</span>
        <a href="{% url 'slot-list' %}">Slots</a>
        <span class="spacer">|</span>
        {% endif %}
        {% if user.is_authenticated %}
        <a href="/appointment/meine-reservierung">{{ user.email }}</a>
        <span class="spacer">|</span>
        <div>
          <form action="{% url 'oidc_logout' %}" method="post">
            {% csrf_token %}
            <input type="submit" value="{% translate_snippet "ausloggen" lang %}">
          </form>
        </div>
        {% else %}
        <div>
          <a href="/oidc/authenticate">{% translate_snippet "einloggen" lang %}</a>
        </div>
        {% endif %}
    </div>
  </div>
</div>
