{% load static %}
<html lang="{{ LANGUAGE_CODE }}">
  <head>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>
      {% block title %}
        New Media Center - Universität Basel
      {% endblock title %}
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <link rel="shortcut icon"
          type="image/png"
          href="{{STATIC_URL}}images/favicon.ico"
          />
    <link href="{{STATIC_URL}}fonts/fontawesome/css/fontawesome.css" rel="stylesheet">
    <link href="{{STATIC_URL}}fonts/fontawesome/css/brands.css" rel="stylesheet">
    <link href="{{STATIC_URL}}fonts/fontawesome/css/solid.css" rel="stylesheet">
    {% block css %}
    <!-- This file stores project-specific CSS -->
    <link rel="stylesheet" href="{{STATIC_URL}}css/studiodays.css">
    {% endblock %}
    {% block javascript %}
    <script src="{{STATIC_URL}}js/studiodays.js"></script>
    {% endblock javascript %}
  </head>
  <body data-spy="scroll" data-target="#scrollspy-nav" data-offset="230">
    <dialog class="confirmation">
      Reservation wirklich abschicken?
      <form method="dialog">
        <button type="submit" aria-label="close" value="X" name="Xbutton" formnovalidate>pipapo</button>
         <input type="submit" aria-label="close" value="gugus" name="gugusbutton" formnovalidate />
      </form>
    </dialog>
    <header>
        {% include "anthrazit-balken.html" %}
        {% include "mint-balken.html" %}
        {% include "nav-balken.html" %}
    </header>
    <div class="balken main">
    {% block content %}
    {% endblock content %}
    </div>
  </body>
</html>
