Hello {{ first_name }} {{ last_name }},

Your appointment on {{slot}} has been successfully booked and is reserved for
you. 

Please arrive at the New Media Center (Totentanz 18, 4051 Basel) 10 minutes
before your time slot so that we have enough time for you and can make sure
that everything goes smoothly.

If you are unable to make the appointment, please log in to the Studio Days
website, click on your e-mail address at the top and then select "Cancel". 

With kind regards,
Your Studio Days team
