Hallo {{ first_name }} {{ last_name }},

Ihr Termin am {{slot}}  wurde erfolgreich gebucht und ist für Sie reserviert.

Bitte seien Sie 10 Minuten vorher am New Media Center (Totentanz 18, 4051
Basel), damit wir genügend Zeit für Sie haben und alles reibungslos verläuft.

Falls Sie den Termin nicht wahrnehmen können, loggen Sie sich auf der
Studio-Days-Website ein, klicken Sie oben auf Ihre E-Mail-Adresse und wählen
dann «Stornieren» an.

Mit freundlichen Grüssen,
Ihr Studio-Days-Team


