Hallo {{ first_name }} {{ last_name }},

Wir haben Ihre Terminanfrage erhalten. Einen Überblick über Ihre Termine
erhalten Sie über diesen Link:
https://studiodays.unibas.ch/appointment/meine-reservierung

Sobald der Termin von uns freigeschaltet wurde, erhalten Sie eine
Buchungsbestätigung. 

Mit freundlichen Grüssen,
Ihr Studio-Days-Team
