Hello {{ first_name }} {{ last_name }},

We have received your request. Please click following link to see the current
status of your reservations.
https://studiodays.unibas.ch/appointment/meine-reservierung

You will receive a booking confirmation as soon as the appointment has been
activated by us. 

With kind regards,
Your Studio Days team

