@font-face {
  font-family: "Swift";
  src: url("/static/fonts/swift/SwiftNeueLTPro-Regular.otf") format("opentype");
}
@font-face {
  font-family: "Swift";
  font-weight: bold;
  src: url("/static/fonts/swift/SwiftNeueLTPro-Bold.otf") format("opentype");
}
@font-face {
  font-family: "Swift";
  font-weight: lighter;
  src: url("/static/fonts/swift/SwiftNeueLTPro-Light.otf") format("opentype");
}
@font-face {
  font-family: "Univers";
  src: url("/static/fonts/univers/UniversLTStd.otf") format("opentype");
}
@font-face {
  font-family: "Univers";
  font-weight: bold;
  src: url("/static/fonts/univers/UniversLTStd-Bold.otf") format("opentype");
}
@font-face {
  font-family: "Univers";
  font-weight: lighter;
  src: url("/static/fonts/univers/UniversLTStd-Light.otf") format("opentype");
}

html {
  height: 100%;
  font-size: 16px;
}

h1, h2, h3, h4, h5, h6, .teaser {
  font-family: "Swift",Georgia,Lucida Bright,serif;
  font-weight: bold;
}

.teaser {
  line-height: 3rem;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  overflow: hidden;
  margin: 0px;  /* removes default style */
  display: flex;  /* enables flex content for its children */
  box-sizing: border-box;
  flex-direction: column;
  font-family: 'Univers',Verdana,Geneva,Helvetica,sans-serif;
  line-height: 1.5;
  letter-spacing: 0.3px;
  font-weight: 400;
}

figure {
  margin: 0;
  padding: 0;
}

form { /* unset defaults */
  margin: 0;
  padding: 0;
}

header {
    width: 100%;
    flex-shrink: 0;
    flex-direction: column;
    display: flex;
}

i {
  color: #f5f5ef;
}

.anthrazit {
  z-index: 100;
  background-color: #2d373c;
}
.anthrazit * { 
  color: white;
}
.anthrazit .container {
  display: flex;
  justify-content: space-between;
}
.anthrazit input:hover {
	cursor: pointer;
}
.anthrazit input {
  border: none;
  text-decoration: underline;
  background: none;
  display: inline;
  font-family: inherit;
  font-size: inherit;
  padding: none;
  width: auto;
}

.http-error {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(165,215,210, 0.85);
  color: #fff;
  background: url('static/images/totentanz1.jpg');
  background-size: cover;
  background-position: bottom
}
.http-error .error {
  text-align: center;
  padding: 16px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%)
}

.spacer {
  margin: 0 0.5rem;
}

.mint {
    background-color: #a5d7d2;
    z-index: 100;
}

.burger {
  display: none;
}
.container {
  /* width: 960px; */
  display: flex;
}
.main {
  padding-bottom: 1rem;
}
.main .container {
  flex-direction: column;
}

.empty.field {
  background: repeating-linear-gradient(
						45deg, 
						transparent 0%, 
						transparent 1%, hsla(190,45%,80%, 0.8) 1%, 
						hsla(190,45%,80%, 0.8) 2%, transparent 5%
  ),
	repeating-linear-gradient(
    					135deg, 
						transparent 0%, 
						transparent 1%, hsla(190,45%,80%, 0.8) 1%,  
						hsla(190,45%,80%, 0.8) 2%, transparent 5%);
  height: 1rem;
}

.flex-detail.date {
	text-align: right;
}

.flex-list.line {
  background-color: #a5d7d2;
  background-color: #a5d7d233;
  border-radius: 5px 5px;
}

.flex-list.line.unconfirmed {
  background-color: #f8219d33;
  border-radius: 5px 5px;
}

.flex-list.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;     /*  vertical  */
  width: 100%;
  /* align-items: stretch; */
}
.flex-list.line {
  display: flex;
  flex-wrap: wrap;                    /*  allow items to wrap  */
  justify-content: space-around;
  align-items: center;
}

.flex-list.line {
	margin-bottom: 1px;
}
.flex-list.line:last-of-type {
	margin-bottom: 0px;
}

.flex-list.line.header {
  background-color: rgba(0,0,0,0);
}

/* eg list with links to vimeo, youtube etc. */
.icon-list {
  display: flex;
}
.icon-list li:first-child {
  border-left: 1px solid #000;
}
.icon-list li {
  border-right: 1px solid #000;
  transition: all .25s ease-in-out;
}
.icon-list i {
  padding: 10px 15px;
}

.logo {
    width: 10rem;
    padding: 1rem 0;
}
.balken {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}
.balken.main {
  width: 100%;
  flex-grow: 1;
  overflow-y: auto;
  overflow-x: clip;
  padding-top: 2rem;
}

.flex-detail {
  overflow: hidden;
  padding-left: 0.5rem;
}
.flex-detail:last-child {
  padding-right: 0.5rem;
}

.flex-detail.icon-size {
  width: 2rem;
}
.flex-detail.sht {
  width: 4rem;
}
.flex-detail.mid {
  width: 9rem;
}
.flex-detail.lng {
  width: 12rem;
}
.flex-detail.riesig {
  width: 20rem;
}

dialog.confirmation {
  position: absolute;
  top: -100%;
  border: solid,red;
}

.navbar ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.navbar ul a {
  color: #2d373c !important;
  text-decoration: none;
  font-family: "Swift",Georgia,Lucida Bright,serif;
  font-size: 1.3rem;
  padding: 1rem 0;
  width: 100%;
  display: block;
}

.navbar li.active {
  border-top: 5px #d20537 solid;
  background-color: #dee3ed;
}

.navbar li {
  flex: 1 0 auto;
  text-align: center;
  transition: all .25s ease-in-out;
  border-top: 5px white solid;
  background-color: white;
}
.navbar li:hover {
  border-top: 5px #d20537 solid;
  background: #2d373c;
  cursor: pointer;
}
.navbar li:hover a {
  color: #fff !important;
}

.sd-button {
  border-radius: 50%;
  background-color: #00000011;
  text-decoration: none;
}
.icon-container {
  display: flex;
  justify-content: center;
}

.day-with-slot {
    background-color: green;
}

.day-with-reservation {
    background-color: orange;
}

input:invalid {
    border: 2px dashed red;
}

input:focus:invalid {
    box-shadow: none;
}

dialog.day-overview {
    width: 40rem;
    box-sizing: content-box;
}

div.container.calendar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row;
}

.video-list {
    display: flex;
    justify-content: center;     /*  vertical  */
    flex-wrap: wrap;
}

.video {
  padding: 5px;
}

table.month {
    margin: 0.5rem;
}
th {
  text-align: right;
  width: 2.5rem;
}
th.month {
    text-align: left;
}
td {
  text-align: right;
}

.illustrated-offer-list {
    display: flex;
    justify-content: space-around;     /*  vertical  */
    flex-wrap: wrap;
    align-items: baseline;
    margin: 1rem 0;
}

.illustrated-offer {
    width: 15rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;     /*  vertical  */
}

.illustrated-offer img {
    margin-left: 3rem;
    margin-right: 3rem;
}

.illustrated-offer figcaption {
  padding: 0.5rem;
  text-align: center;
  font-family: "Swift",Georgia,Lucida Bright,serif;
  font-size: 0.9rem;
}

.user-menu {
  display: flex;
  align-items: center;
}

.burger i.fa-bars {
  padding: 1rem 1rem;
  color: #2d373c;
  cursor: pointer;
}

.first-block {
  color: white;
  width: 38%;
  background-color: #d20537;
}
.first-block  a {
    color: white;
}

.second-block {
  background-clip: border-box;
  background-image: url("/static/images/lageplan.png");
  background-size: cover;
  width: 62%;
}

@media screen and (max-width: 699px) and (orientation: portrait) {
  .container {
    width: 95%;
  }
  .navbar .container {
    display: flex;
  }
  .burger {
    display: flex;
    z-index: 100;
  }
  .burger i {
    width: 1rem;
    height: 1rem;
  }
  .navbar ul {
    /*display: none;*/
    background: white;
    position: absolute;
    width: inherit;
    opacity: 0;
    transform: translate(0,-100%);
    background-color: rgba(255,255,255,0.95);
    flex-direction: column;
    transition: all 0.5s ease-out;
    z-index: 90;
  }
  .first-block, .second-block {
    width: 100%;
  }
  .second-block {
    height: 100%;
  }
  .flex-detail:not(.icon-size):nth-child(odd) {
    background: linear-gradient(rgba(9, 0, 4, 0.1), rgba(9, 0, 4, 0.1));
    border-radius: 5px 5px;
  }
}

@media screen and (min-width: 700px) and (max-width: 999px) {
  .container {
    width: 660px;
  }
  .flex-detail:not(.icon-size):nth-child(odd) {
    background: linear-gradient(rgba(9, 0, 4, 0.1), rgba(9, 0, 4, 0.1));
    border-radius: 5px 5px;
  }

}

@media screen and (min-width: 1000px) {
  .container {
    width: 960px;
  }
}
