{% extends "base.html" %} {% load static %}
{% block content %}
<div class="container user-list">
<div class="flex-list container">
  <div class="flex-list line header">
    <div class="flex-detail mid">
      Vorname
    </div>
    <div class="flex-detail mid">
      Nachname
    </div>
    <div class="flex-detail mid">
      Benutzername
    </div>
    <div class="flex-detail lng">
      Email
    </div>
    <div class="flex-detail sht">
      Admin
    </div>
    <div class="flex-detail icon-size">
    </div>
  </div>
  {% for f in forms %}
  <div class="flex-list line">
    <div class="flex-detail mid">
      {{f.instance.first_name}}
    </div>
    <div class="flex-detail mid">
      {{f.instance.last_name}}
    </div>
    <div class="flex-detail mid">
      {{f.instance.username}}
    </div>
    <div class="flex-detail lng">
      {{f.instance.email}}
    </div>
    <div class="flex-detail sht">
      <form class="icon-container"
            action="{{f.initial.id}}/"
            method="post"
            >
        {% csrf_token %}
        <input
            type="checkbox"
            name="is_staff"
            id="id_is_staff"
            style="display:none"
            {% if not f.instance.is_staff %}checked={% endif %}
            >
        <input
            class="sd-button"
            type="submit"
            value={% if f.instance.is_staff %}"✔️"
            {% else %}                        "❌"
            {% endif %}
            >
      </form>
    </div>
    <div class="flex-detail icon-size">
      <form class="icon-container"
            action="{{f.initial.id}}/del/"
            method="delete"
            >
        {% csrf_token %}
        <input class="sd-button" type="submit" value="🗑️">
      </form>
    </div>
  </div>
  {% endfor %}
</div>
</div>
{% endblock %}
