{% extends "base.html" %}
{% load static i18n serveContent %}
{% block content %}
{% get_current_language as lang %}
<div class="container contact">
  <div style="display: flex; flex-wrap: wrap;">
    <div class="first-block">
      <div style="padding: 0 15px;">
        <h3>New Media Center</h3>
        <p>
        Totentanz 18<br>
        4051 Basel, {% translate_snippet "schweiz" lang %}<br>
        Tel.: <a href="tel:+41612075801">+41 (0)61 207 58 01 →</a><br>
        <a href="mailto:contact-nmc@unibas.ch">contact-nmc@unibas.ch →</a><br><br>
        <a href="geo:47.56197,7.58501">{% translate_snippet "coordinates" lang %} →</a>
        </p>
        <h4>{% translate_snippet "buerozeiten" lang %}</h4>
        <p>Mo-Fr: 9:00-12:00 / 14:00-17:00</p>
        <h4>{% translate_snippet "haltestelle" lang %}</h4>
        <p>Tram Nr. 11, 15, 16<br>
        Bus Nr. 31, 33, 34, 36, 38
        </p>
      </div>
      <img src="{{STATIC_URL}}/images/new_media_center.jpg" style="width:100%" alt="lageplan">
    </div>
    <div class="second-block" >
    </div>
  </div>
</div>
{% endblock content %}
