{% extends "base.html" %}
{% load static i18n serveContent %}
{% block content %}
{% get_current_language as lang %}
<div class="container services">
  {% autoescape off %}
  {% md_to_html lang "home.md" as html %}
  {% group_offer_illustrations html as illu_html%}
  {% unharm_html illu_html %}
  {% endautoescape %}
  <div class="video-list">
    <div class="video">
      {% if lang == 'en' %}
      <iframe
        allow="autoplay; fullscreen; picture-in-picture"
        src="https://player.vimeo.com/video/875110503?h=3bc93009e1&amp;app_id=122963"
        title="Studiodays: Trailer (english)"
        width="426"
        height="240"
        frameborder="0">
      </iframe>
      {% else %}
      <iframe
          src="https://player.vimeo.com/video/868733535?h=fbe505516d&amp;app_id=122963"
          allow="fullscreen; picture-in-picture"
          title="Studiodays: Trailer (Deutsch)"
          frameborder="0"
          width="426"
          height="240"
          ></iframe>
      {% endif %}
    </div>
    <div class="video">
      <iframe
          src="https://player.vimeo.com/video/868316455?h=74b793eb4d&amp;autoplay=1&amp;app_id=122963"
          allow="fullscreen; picture-in-picture"
          title="Studiodays: Trailer (english)"
          sandbox="allow-scripts allow-same-origin allow-popups allow-presentation"
          frameborder="0"
          width="426"
          height="240"
          ></iframe>
    </div>
  <div>
</div>

{% endblock content %}
