{% load static i18n %}
{% get_current_language as lang %}
<div class="flex-list line {% if date.reservation and not date.reservation.confirmed %} unconfirmed {% endif %}">
  <div class="flex-detail riesig">
    {{ date.start|date:"l" }}, {{ date.start.date }}
  </div>
  <div class="flex-detail lng">
    {{ date.start.time }} - {{ date.end.time }}
  </div>
  <div class="flex-detail mid {% if not date.reservation.department %} empty field {% endif %}">
    {{ date.reservation.department }}
  </div>
  <div class="flex-detail mid {% if not date.reservation.user.email %} empty field {% endif %}">
    {{ date.reservation.user.email }}
  </div>
  <div class="flex-detail icon-size" style="text-align: center">
    <a href="{% url 'slot-update' date.id %}" class="sd-button">✏️</a>
  </div>
  <div class="flex-detail icon-size">
    {% if date.reservation and not date.reservation.confirmed %} 
    <form class="icon-container"
          action="{% url 'reservation-detail' date.reservation.id %}"
          method="post"
          >
      {% csrf_token %}
      <input
          type="checkbox"
          name="confirmed"
          id="id_confirmed"
          style="display:none"
          checked="true"
          >
      <input
          class="sd-button"
          type="submit"
          value="👍"
          >
    </form>
    {% endif %}
  </div>
  <div class="flex-detail icon-size">
    <form action="{% url 'slot-delete' date.id %}" method="post" style="text-align: center">
      {% csrf_token %}
      <input class="sd-button" type="submit" value="🗑️">
    </form>
  </div>
</div>
