{% load static i18n serveContent %}
{% get_current_language as lang %}
<div class="flex-list line">
    <div class="flex-detail riesig">
      {{ date.start|date:"l" }}, {{ date.start.date }}
    </div>
    <div class="flex-detail lng">
      {{ date.start.time }} - {{ date.end.time }}
    </div>
    {% if user.is_authenticated %}
        <div class="flex-detail mid">
            <a href="/appointment/reservation?slot={{date.id}}">
              {% translate_snippet "slot_reservieren" lang %}
            </a>
        </div>
    {% endif %}
</div>
