{% extends "base.html" %}
{% load static i18n serveContent %}
{% block content %}
{% get_current_language as lang %}
<div class="meine-reservierung"> 
  {% if not resTable %}
    {% autoescape off %}
    {% md_to_html lang "keine-reservierung.md" as html %}
    {% unharm_html html %}
    {% endautoescape %}
  {% else %}
    <div class="unconfirmed">
      {% autoescape off %}
      {% md_to_html lang "meine-reservierung.md" as html %}
      {% unharm_html html %}
      {% endautoescape %}
    </div>
    <div class="flex-list container">
      <div class="flex-list line header">
        <div class="flex-detail mid">
          {% translate_snippet "Datum" lang %}
        </div>
        <div class="flex-detail lng">
          {% translate_snippet "Zeit" lang %}
        </div>
        <div class="flex-detail mid">
          {% translate_snippet "departmentGruppenname" lang %}
        </div>
        <div class="flex-detail mid">
          {% translate_snippet "Bemerkung" lang %}
        </div>
        <div class="flex-detail mid">
          {% translate_snippet "Aktion" lang %}
        </div>
      </div>
      {% for t in resTable %}
      {{ t|safe }}
      {% endfor %}
    </div>
  {% endif %}
</div>
{% endblock content %}
