{% load static i18n serveContent %}
<div class="flex-list line data {% if not res.confirmed %}unconfirmed{% endif %}">
    <div class="flex-detail mid date">
      {{ res.slot.start.date }}
    </div>
    <div class="flex-detail lng time">
      {{ res.slot.start.time }} - {{ res.slot.end.time }}
    </div>
    <div class="flex-detail mid {% if not res.department %} empty field {% endif %}">
       {{ res.department }}
    </div>
    <div class="flex-detail mid {% if not res.notes %} empty field {% endif %}">
      {{ res.notes }}
    </div>
    <div class="flex-detail mid">
        <a href="/appointment/meine-reservierung/{{res.id}}?delete=true">
          {% translate_snippet "Stornieren" lang %}
        </a>
    </div>
</div>
