{% extends "base.html" %} {% load static i18n serveContent %}
{% block content %}
{% get_current_language as lang %}
<div class="overview"> 
<form action="" method="post">
    {% csrf_token %}
    {% for error in form.non_field_errors %}
        <div class="error"> {{ error }} </div>
    {% endfor %}
    <div>
        {{ form.slot.errors }}
        <div>
          <label for="{{ form.slot.id_for_label }}">
            {% translate_snippet "TerminWählen" lang %}
          </label>
        </div>
        {{ form.slot }}
    </div>
    <div>
        {{ form.department.errors }}
        <div>
          <label for="{{ form.department.id_for_label }}">
            {% translate_snippet "departmentGruppenname" lang %}
          </label>
        </div>
        {{ form.department }}
    </div>
    <div>
        {{ form.notes.errors }}
        <div>
          <label for="{{ form.notes.id_for_label }}">
            {% translate_snippet "Bemerkung" lang %}
          </label>
        </div>
        {{ form.notes }}
    </div>
    <button type="submit">
      {% translate_snippet "Senden" lang %}
    </button>
</form>
</div>
{% endblock content %}
