{% extends "base.html" %} {% load static %}
{% block content %}
<h1>Slot eingeben</h1>

<form action="" method="post">
    {% csrf_token %}
    {% for error in form.non_field_errors %}
        <div class="error"> {{ error }} </div>
    {% endfor %}
    <div class="fieldWrapper">
        <label for="{{ form.start.id_for_label }}">Startzeit wählen:</label>
        <div>{{ form.start }}</div>
    </div>
    <div class="fieldWrapper">
        <label for="{{ form.end.id_for_label }}">Schlusszeit wählen:</label>
        <div>{{ form.end }}</div>
    </div>
    <input type="submit">
</form>
{% endblock content %}
